language: python
sudo: required
notifications:
  email: false
python:
  - "3.6"
  - "nightly"

install:
  - pip install nose
script:
  - nosetests -vd -w matching/Python testUtils.py
  - nosetests -vd -w closest-points/src testParse.py
  - nosetests -vd -w gorilla/src test.py
  - nosetests -vd -w flow/src test.py
  - nosetests -vd -w flow/src test_parser.py
  - nosetests -vd -w flow/src test_path.py
  - nosetests -vd -w flow/src test_cut.py
  - nosetests -vd -w red-scare/src test_parser.py
